* {
  margin: 0;
  padding: 0;
}

.ion-thumbs-down:before {
  content: "\f250";
}

.ion-thumbsup:before {
  content: "\f251";
}
.btn-main {
  background-color: #09948d;
  border-radius: 30px;
  border: none;
  padding: 7px 25px;
  color: #fff;
}
.btn-main:hover {
  cursor: pointer;
  background: #00FFFF;
 
}
.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  box-shadow: none;
  background-color: transparent;
  min-width: 40px;
  &:hover,
  &:focus,
  &.focus {
    background: transparent;
    color: transparent;
    text-decoration: none;
  }

  &:active,
  &.active {
    background: transparent;

    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
}

/*==================================================
    Typography
    ==================================================*/
h3,
h6 {
  color: #09948d;
}

.text-white {
  color: #fff;
}

.text-white:hover {
  color: #fff;
}

.text-green {
  color: #8dc63f;
}

.text-green:hover {
  color: #39b54a;
}

.text-red {
  color: #ef4136;
}

.text-red:hover {
  color: #d6100b;
}

.profile-link {
  font-weight: 600;
}

.text-muted {
  color: #939598;
}

a {
  color: #09948d;
}

a:hover {
  color: #09948c;
}

a,
a:active,
a:focus {
  outline: none;
}

.following {
  color: #8dc63f;
  font-size: 12px;
  margin-left: 20px;
}
.post-fields {
  margin: auto;
  width: 80%;
}
/*==================================================
    Common
    ==================================================*/
.form-group {
  display: flex;
  justify-content: space-around;
  min-width: 70%;
}
.tools {
  width: 10%;
}
.create-post {
  margin-left: 0%;
}
.comment {
  margin-left: 10px;
  width: 95%;
}

#page-contents {
  max-width: 1200px;
  margin: auto;
  // padding: 35px 0 50px;
}
#page-contents .main-wrap {
  display: flex;
  justify-content: center;
  // margin-left: 10%;
}
#page-contents .main-post-field {
  // margin-left: 20%;
  
  width: 100%;
}
img.profile-photo {
  height: 58px;
  width: 58px;
  border-radius: 50%;
}

img.profile-photo-md {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

img.profile-photo-sm {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

ul {
  padding-left: 15px;
}

.line-divider {
  background: none;
  height: 1px;
  border-top: 1px solid #e6e6e6;
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.custom-label {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
}

.form-control {
  background: #fff;
  border: 1px solid #f1f2f2;
  box-shadow: none;
  border-radius: 4px;
  color: #939598;
  width: 80%;
  min-height: 50px;
}

/*==================================================
  Post Contents CSS
  ==================================================*/

.post-content {
  background: #f8f8f8;
  border-radius: 4px;
  width: 100%;
  border: 1px solid #f1f2f2;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.post-content img.post-image,
video.post-video,
.google-maps {
  width: 100%;
  height: auto;
}

.post-content .google-maps .map {
  height: 300px;
}

.post-content .post-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.post-content .post-container .post-detail {
  width: 92%;
  position: relative;
}

.post-content .post-container .post-detail .post-text {
  line-height: 24px;
  margin: 0;
}

.post-content .post-container .post-detail .reaction {
  position: absolute;
  right: 0;
  top: 0;
}

.post-content .post-container .post-detail .post-comment {
  display: inline-flex;
  margin: 10px auto;
  width: 100%;
}

.post-content .post-container .post-detail .post-comment img.profile-photo-sm {
  margin: 0;
}

.post-content .post-container .post-detail .post-comment .form-control {
  height: 30px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  margin: 7px 0 0 10px;
  min-width: 0;
}

/*==================================================
    Timeline
    ==================================================*/

.timeline-cover {
  background: url(../../../../assets/img/user-profile/cover/1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 360px;
  border-radius: 0 0 4px 4px;
  position: relative;
}

/*Timeline Menu for Large Screens*/

.timeline-cover .timeline-nav-bar {
  // background: rgba(0, 0, 0, 0.7);
  width: 100%;
  position: absolute;
  bottom: 0;
}

.timeline-cover .timeline-nav-bar .profile-info {
  position: absolute;
  text-align: center;
  padding: 0 20px;
  top: -199px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.timeline-cover .timeline-nav-bar .profile-info * {
  margin-top: 5px;
}
.timeline-cover .timeline-nav-bar .profile-info h3 {
  font-size: 35px;
}
.timeline-cover .timeline-nav-bar .profile-info img.profile-photo {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  // border: 10px solid #fff;
}
.timeline-cover .timeline-nav-bar .profile-cont {
  margin: 0 250px;
  width: 70%;
}
.profile-menu {
  width: 100%;
  top: -120px;
  position: relative;
  // color: #e6e6e6;
  z-index: 1;
}

.timeline-cover .timeline-nav-bar .follow-me {
  width: 35%;
  margin: 0;
  position: absolute;
  right: 15px;
  top: -120px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 9px 15px;
  line-height: 31px;
  z-index: 2;
}

.timeline-cover .timeline-nav-bar .follow-me li {
  color: #fff;
}

/*==================================================
   Post Date
  ==================================================*/

.timeline .post-content {
  position: relative;
  overflow: visible;
}

.timeline .post-content::before {
  content: "";
  position: absolute;
  background: none;
  width: 1px;
  height: 98%;
  left: -145px;
  border-left: 2px solid #8dc63f;
  top: 15px;
}

.timeline .post-content .post-date {
  position: absolute;
  margin-left: -125px;
}

.timeline .post-content .post-date::before {
  content: "";
  background: #8dc63f;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  left: -30px;
  top: 10px;
  border: 2px solid #fff;
}

.timeline .post-content img.post-image {
  border-radius: 4px 4px 0 0;
}

/*==================================================
    Profile Album
    ==================================================*/

ul.album-photos {
  padding: 0;
  margin: 0 auto 20px;
  display: block;
  font-size: 0;
  text-align: center;
}

ul.album-photos li {
  list-style: none;
  display: inline-block;
  max-width: 194px;
  padding: 2px;
}

ul.album-photos li img {
  max-width: 100%;
}

/*==================================================
    Edit Profile
    ==================================================*/

/* Edit Profile Menu */

ul.edit-menu {
  margin-top: 100px;
  padding: 0 20px;
}

ul.edit-menu li {
  list-style: none;
  border-bottom: 1px solid #f1f2f2;
  padding: 15px 0;
  position: relative;
}

ul.edit-menu li.active::before {
  content: "";
  background: #8dc63f;
  width: 2px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translate(-50%, -50%);
}

ul.edit-menu li i.icon {
  font-size: 16px;
}

ul.edit-menu li.active i.icon {
  color: #8dc63f;
}

ul.edit-menu li a {
  color: #6d6e71;
  margin-left: 20px;
}

ul.edit-menu li.active a {
  color: #8dc63f;
}



@media screen and (max-width: 1024px) {
  .timeline .post-content::before {
    display: none;
  }
  .timeline .post-content .post-date {
    display: none;
  }
  .create-post {
    margin-left: 19%;
  }
  #page-contents .main-post-field {
    margin-left: 2%;
    width: 96%;
  }
  .timeline-cover .timeline-nav-bar .follow-me {
    width: 40%;
  }
  .btn-main{
    margin: 0;
  }
}
