<app-header> </app-header>

<div class="main-block">
  <!--
    Timeline
    =================================================
  -->
  <div class="timeline">
    <div class="timeline-cover">
      <div class="timeline-nav-bar">
        <div class="profile-info">
          <img
            src="{{ user$?.avatarUrl }}"
            alt=""
            class="img-responsive profile-photo"
          />
          <input 
            style="display: none" 
            type="file" (change)="onFileChanged($event)" 
            #fileInput>
          <button  class="btn-main" (click)="fileInput.click()">Change photo</button>
         <h3>{{user$.fullname}}</h3> 
         <p class="text-muted">{{user$.fullname}}</p>      

        </div>
        <div class="profile-cont">
          <div class="follow-me">
            <p>1,299 people following her</p>
            <button class="btn-main" (click)="addSubscribe()">Add Friend</button>
          </div>
        </div>
      </div>
    </div>
    <mat-tab-group class="profile-menu">
      <mat-tab label="Timeline">
        <div id="page-contents">
          <div class="main-wrap">
            <div class="main-post-field">
              <app-add-new-post></app-add-new-post>
               <ul class="post-fields">
                <div *ngFor= "let itemPost of userPosts; let i = index">
                    <app-item-post
                     [item]="itemPost"
                      [itemIndex]="i"
                      (saveEvt)="saveHandler($event)"
                      (cancelEvt)="cancelHandler()"
                      (deleteEvt) = "deleteHandler($event)">
                    </app-item-post>
                </div>
                </ul>
              
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="User info">
        <app-user-info></app-user-info>
      </mat-tab>
        <mat-tab label="Settings">
          <app-settings></app-settings>
        </mat-tab>
      <mat-tab label="Friends" >
        <app-friends-list [userSubscribers$]="userSubscribers" ></app-friends-list>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<app-footer></app-footer>
