<div class="active" id="recovery">
  <div *ngIf="!changePass">
    <h3>Password recovery</h3>
    
    <form [formGroup]="recoveryForm" name="recovery_form" id="recovery_form">
    		<div *ngIf="!codeShow" class="form-group" [class.has-error]="email.invalid && email.touched">
    			<p class="text-muted">Enter your email address.</p>
            <input
            formControlName="email" 
            id="email" 
            class="form-control" 
            type="text" 
            name="email" 
            placeholder="Your Email">
            <span *ngIf="email.invalid && email.touched">
            Invalid email
          </span>
         </div>
        
        <div *ngIf="codeShow" class="form-group">
        	<p class="already">We found the following information associated with your account.</p>
        	<p class="already">We wrote the code and sent it to the specified e-mail address. When you receive a code, enter it below to reset your password.</p>
          <input
            formControlName="password" 
            id="password" 
            class="form-control" 
            type="text" 
            name="password"  
            placeholder="Enter code">
            <span *ngIf="(recoveryForm.errors || {}).matching && password.touched">
            {{(recoveryForm.errors || {}).matching}}.
          </span>
          
        </div>
      
       <button *ngIf="!codeShow"
          [disabled]="email.invalid"
          type="submit"
          class="btn btn-success"
          (click)="submitEmail()"
        >
       SEARCH
     </button>
     <button 
     			*ngIf="codeShow"
          type="submit"
          class="btn btn-success"
          (click)="submitCode()"
        >
       SUBMIT
     </button>    
    </form>
  </div>
  <app-change-password *ngIf="changePass"></app-change-password>  
</div>