<div class="active" id="recovery">
  <div>
    <h3>Password recovery</h3>
    
    <form [formGroup]="recoveryForm" name="recovery_form" id="recovery_form">
    	<div  class="form-group" [class.has-error]="email.invalid && email.touched">
    		<p class="text-muted">Enter your email address.</p>
        <input
          formControlName="email" 
          id="email" 
          class="form-control" 
          type="text" 
          name="email" 
          placeholder="Your Email">
        <span *ngIf="email.invalid && email.touched">
          Invalid email
        </span>
      </div>

      <button 
        [disabled]="email.invalid"
        type="submit"
        class="btn btn-success"
        (click)="submitEmail()">
        SEARCH
      </button>

    </form>
  </div>

</div>