
  .active {
    line-height: 1;
   h3 {
     color: #27aae1;
     font-size: 30px;
   }
   .text-muted{
     color: #939598;
     font-size: 12px;
     margin-bottom: 20px;
   }    
   .form-inline{     
     .rowName {
       display: -webkit-flex;
       display: -moz-flex;
       display: -ms-flex;
       display: -o-flex;
       display: flex;
       -webkit-flex-direction: row;
       -moz-flex-direction: row;
       -ms-flex-direction: row;
       -o-flex-direction: row;
       flex-direction: row;
       justify-content: space-between;
     }
     .form-group{
        position: relative;
        padding-left: 15px;
        
        padding-bottom: 20px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
       label {
         display: block;
         line-height: 0.1;
         &.required:after {
           content: ' *';
           color: red;
         }
       }
       input{
         background: #fff;
         color: #939598;
         border-radius: 30px;
         box-shadow: none;
         width: 100%;
         border: 1px solid #f1f2f2;
         padding-left: 15px;
         font-size: 12px;
         height: 25px;
         margin-bottom: 0;
         box-sizing: border-box;
       }        
     }
   }
   .already {
     font-size: 12px;
     color: #27aae1;
     line-height: 1;
   }    
   .btn {
     background: #27aae1;
     padding: 0 25px;
     border: none;
     font-size: 14px;
     border-radius: 4px;
     color: #fff;
     position: relative;
     font-weight: 600;
     outline: none;
     border-radius: 30px;
   }
   .btn:hover{
     background: #149AC9;
     transition: all 1s;
   }
 }
 
.has-error {
 input {
   border: 1px solid red;
 }
 span {
   position: absolute;
   color: red;
   font-size: 8px;
   margin-top: 25px
 }
}




@media screen and (max-width: 630px) {
  .active {      
    .form-inline{     
      .rowName { 
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
      }
    }
  }
}
     

  @media screen and (max-width: 435px) {
    .active {  
      h3 {
        font-size: 24px;
      }
      .text-muted{
        margin-bottom: 15px;
      }    
      .form-inline{     
        .rowName {
          -webkit-flex-direction: column;
          -moz-flex-direction: column;
          -ms-flex-direction: column;
          -o-flex-direction: column;
          flex-direction: column; 
        }
      }    
      .btn {
        font-size: 12px;    
      }   
    }
  }




   



