<app-header> </app-header>
<div class ="wrapper">
<!-- <app-add-new-post></app-add-new-post> -->
<ul class="news">
    <button class="btn-main" *ngIf = "!allPosts" (click)="switchPosts()">Show all</button>
    <button  class="btn-main" *ngIf = "allPosts" (click)="switchPostsSubscription()">Posts of subscriptions</button>
    <div *ngIf = "allPosts">
       <div *ngFor= "let itemPost of userPosts | async; let i = index">
           
            <app-item-post

             [item]="itemPost"
              [itemIndex]="i"
              (deleteEvt) = "deleteHandler($event)"
              >
            </app-item-post>
    </div>
    </div>
    <div *ngIf = "!allPosts">
        <!-- <ng-template #subscriptionPost> -->
        <div *ngFor= "let itemPost of (userPosts | async ) | filterPost; let i = index">

 
            <app-item-post
             [item]="itemPost"
              [itemIndex]="i"
              (deleteEvt) = "deleteHandler($event)"
              >
            </app-item-post>
        </div>
        <!-- </ng-template> -->
        </div>
        </ul>
</div>
<!-- <app-footer></app-footer> -->
<!-- itemPost?.author.id -->
