<div class="registerAll">
  <div class="wrapper">
    <div class="reg-form-container">  
      <div class="reg-options">
        <ul class="nav-tabs">
          <li class="reg" (click)="changeRegister()" ><button [ngClass]="{active:register}" type="button">Register</button></li>
          <li class="log" (click)="changeLogin()"><button type="button" [ngClass]="{active:login}">Login</button></li>
        </ul>
      </div>      
      <div class="tab-content">
        <app-log-in *ngIf="login"></app-log-in>
        <app-check-in *ngIf="register"></app-check-in>
      </div> 
    </div>
    <div class="icons"> 
      <ul class="list-inline social-icons">
        <li><a href="http://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="http://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="https://plus.google.com/"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
        <li><a href="https://www.pinterest.com"><i class="fa fa-pinterest"></i></a></li>
        <li><a href="http://www.linkedin.com/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        <li><a href="https://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
 
</div>     