<li>
  <div class="post-comment">
    <img [src]="item.avatar" alt="" class="profile-photo-sm">
    <p><a href="timeline.html" class="profile-link">{{item.userName}} </a><i class="em em-laughing"></i>
      {{item.content}}</p>

  </div>
  <div class="line-divider"></div>
  <!-- <a class="comment clearfix" (click)="addBtnClickHandler()" *ngIf="!editMode">Add comment</a>
  <app-add-comment-for-comment *ngIf="editMode"></app-add-comment-for-comment> -->
  <!-- <ul *ngIf="commentForComment.length > 0">
    <div *ngFor="let commentItem of commentForComment; let i = index"></div>
    <li>
      <div class="post-comment-1">
        <img [src]="item.avatar" alt="" class="profile-photo-sm">
        <p><a href="timeline.html" class="profile-link">{{commentItem.userName}} </a><i class="em em-laughing"></i>
          {{commentItem.content}}</p>

      </div>
      <div class="line-divider"></div>
    </li>

  </ul> -->
</li>

<!-- <app-add-comment *ngIf="editMode" (addEvt) = "addHandler($event)"></app-add-comment> -->