<li>
  <div class="post-comment">
    <img [src]="item?.author.avatarUrl || defaultAvatar" alt="" class="profile-photo-sm">
    <div class ="post-comment-content" (click)="onViewSubscribeUser(item)"><a href="timeline.html" class="profile-link">{{item.author.fullname}} </a><i class="em em-laughing"></i>
      {{item.text}}<br> <p class ="text-muted">{{item.date | date:'medium'}}</p></div>
      <!-- <p class="text-muted">{{item.date}}</p> -->
      <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf = "accessToDeleteComment" >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="deleteBtnCkickHandlerComment(item)" mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
  </div>
  <div class="line-divider"></div>
  <!-- <a class="comment clearfix" (click)="addBtnClickHandler()" *ngIf="!editMode">Add comment</a>
  <app-add-comment-for-comment *ngIf="editMode"></app-add-comment-for-comment> -->
  <!-- <ul *ngIf="commentForComment.length > 0">
    <div *ngFor="let commentItem of commentForComment; let i = index"></div>
    <li>
      <div class="post-comment-1">
        <img [src]="item.avatar" alt="" class="profile-photo-sm">
        <p><a href="timeline.html" class="profile-link">{{commentItem.userName}} </a><i class="em em-laughing"></i>
          {{commentItem.content}}</p>

      </div>
      <div class="line-divider"></div>
    </li>

  </ul> -->
</li>

<!-- <app-add-comment *ngIf="editMode" (addEvt) = "addHandler($event)"></app-add-comment> -->