
    <div class="wrapper">
     <div class="comment">
      <div class="comment-header">
        <div>
            <a routerLink="profile/id">
              <img url="" alt="" width="30" height="30">
            </a>
        </div>
        <div class="comment-info">
            <p><a class="author" routerLink="profile/id">UserName</a> </p>
           <p> 21.11.2018 </p>
         </div>
  
      </div>
  
      <div class="comment-content">
        <div class="wall-text">Comment</div>
      </div>
      <div class="comment-menu">
          <ul id="dropdown1" class="dropdown-content">
              <li><a href="#!">Remove</a></li>
              <li><a href="#!">Edit</a></li>
              <li class="divider"></li>
              <li><a href="#!">three</a></li>
            </ul>
            <a class="dropdown-trigger" data-target="dropdown1"><i class="material-icons right">arrow_drop_down</i></a>
      </div>
      </div>
      <div class="comment-footer"></div>

      </div>
   

  
  
  