.UserList {
    padding: 0em 2.5rem 0;
  }
  
  .User-card {
    display: flex;
  }
  .Card-avatar {
    margin: 0 1em 0 0;
    min-width: 40px;
    max-width: 80px;
    border-radius: 50%;
  }
  
  .Card-name {
    font-size: 1.3em;
    font-weight: 500;
    color: darkgray;
  }
    