<div class="card">
  <div class="box header">
    <img [src]="user?.avatarUrl || defaultAvatar">
    <h2>{{user.name | uppercase}}</h2>
    <h3>{{user.surname | uppercase}}</h3>
  </div>
  <div class="box footer">
    <button class="view" (click)="viewSubscribeUser(user)">View Profile</button>
    <button *ngIf="btnChangeFollow" class="follow" (click)="addAsFriend(user)">Follow</button>
    <button *ngIf="btnChangeDelete" class="follow" (click)="removeFromFriends(user)">Delete</button>

  </div>
</div> 

