.flexbox{
    display: flex;
   flex-direction: row;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  
  .card,
  .box {
    overflow: hidden;
    padding: 0;
    position: relative;
  }
  img {
    display: block;
    width: 100%;
  }
  
  .follow, .view {
    background:rgb(192, 245, 240);
    border: 1px solid #09948d;
    border-radius: 30px;
    color: rgba(0,0,0,0.75);
    display: block;
    font-size: 16px;
    font-weight: bold;
    height: 34px;
    letter-spacing: 2px;
    line-height: 20px;
    margin:20px auto;
    padding: 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    width: 90%;
  }
  
  .follow:hover {
    background-color:rgb(52, 207, 122);
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.15);
  }
  .card {
    background: linear-gradient(to top, #9ac9bb 0%, #5fccba 36%, #0e7063 100%);
    box-shadow: 0 0 100px  rgba(0,0,0,0.25);
    height: 380px;
    margin: 2em;
    width: 180px;
    display: flex;
    border-radius: 20px;
  }
  
  .header {
    color: #FFF;
    left: 0;
    text-align: center;
    top: 0;
    width: inherit;
  }
  
  .header:before {
    border: 2px solid rgba(161, 220, 255, 0.34);
    border-radius: 100%;
    content: "";
    height: 140px;
    left: 0;
    margin: 40px auto;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 140px;
    z-index: 2;
    -webkit-transform: scale(1.24, 1.24);
    -moz-transform: scale(1.24, 1.24);
    transform: scale(1.24, 1.24);
  }
  
  .header img {
    border: 5px solid #A1DCFF;
    border-radius: 100%;
    height: 140px;
    margin: 2em auto 0.5em;
    width: 140px;
  }
  
  .header h2 {
    display: inline-block;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 0 auto;
    padding: 30px 0 0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  }
  
  .header h3 {
    color: rgba(255, 255, 255, 0.75);
    font-size: 15px;
    margin: 0 auto;
    padding: 5px 0 0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
  }
  
  .footer {
    bottom: 0;
    left: 0;
    position: absolute;
    text-align: center;
    width: inherit;
    height: 29%;
  }
.view:hover {
    background-color:rgb(52, 207, 122);
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.15);

}