<div class="create-post">
    <form #f="ngForm" (ngSubmit)="onSubmitNewPost(post)">
  <div class="row">
    
    <div class="form-group">
      <img
        width="40"
        height="40"
        [src]="post.user.avatarURL"
        alt=""
        class="profile-photo-md"
      />
      <textarea
      type="text" id="text" class="form-control" 
       [(ngModel)]="post.text" name="text" #text = "ngModel" 
        cols="30"
        rows="1"
        placeholder="Write what you wish"
      ></textarea>
    </div>
    <div class="tools"><button class="btn-main">Publish</button></div>
   
  </div>
</form>
</div>

