<div class="create-post">
    <form #f="ngForm" (ngSubmit)="onSubmitNewPost(post)" >
  <div class="row">
    
    <div class="form-group">
      <img
        width="40"
        height="40"
        [src]="post.author.avatarUrl || defaultAvatar"
        alt=""
        class="profile-photo-md"
      />
      <textarea
      type="text" id="text" class="form-control" 
       [(ngModel)]="content" name="text" #text = "ngModel" 
        cols="30"
        rows="1"
        placeholder="Write what you wish"
        required
      ></textarea>
    </div>
  </form>
</div>

<!-- (change) = "handleFileInput($event.target.files)" -->
