.form-group {
    display: flex;
    justify-content: space-around;
    width:  75%;
  }
  .tools {
    width: 10%;
    display: flex;
    align-items: center;
  }
  .create-post {
    margin-left: 20%;
  }
  .comment {
    margin-left: 10px;
    width: 95%;
  }
  .row {
    padding-top: 25px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  img.profile-photo-md {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }
  .form-control {
    background: #fff;
    border: 1px solid #f1f2f2;
    box-shadow: none;
    border-radius: 4px;
    color: #939598;
    width: 80%;
    min-height: 50px;
  }
  .btn-main {
    // margin-left: 30px;
    background-color: #09948d;
    border-radius: 30px;
    border: none;
    padding: 7px 25px;
    color: #fff;
    
    transition: 1s;
  }
  .btn-main:hover{
    background-color: #06746e;
    cursor: pointer;

  }
  .btn-main:disabled{
    // background-color:#9cf8f3 ;
    color: #939598;
  
  }



