
  .active {
    line-height: 1;
    h3 {
      font-family: 'Agency FB Bold', arial;
      color: #27aae1;
      font-size: 30px;
    }
    .text-muted{
      color: #939598;
      font-size: 12px;
      margin-bottom: 20px;
    }    
      .form-group {
        position: relative;
        padding-bottom: 20px;
        display: -webkit-flex;
         display: -moz-flex;
         display: -ms-flex;
         display: -o-flex;
         display: flex;
         -webkit-flex-direction: column;
          -moz-flex-direction: column;
          -ms-flex-direction: column;
          -o-flex-direction: column;
          flex-direction: column; 
        input{
          background: #fff;
          color: #939598;
          border-radius: 30px;
          box-shadow: none;
          width: 100%;
          border: 1px solid #f1f2f2;
          padding-left: 15px;
          font-size: 12px;
          height: 30px;
          margin-bottom: 0;
          box-sizing: border-box;
        }
      }    
    .already {
      font-size: 12px;
      color: #27aae1;
    }
    .already:hover {
      cursor: pointer;
      color: #939598;
    }

    .btn{
      background: #27aae1;
      border: none;
      font-size: 14px;
      border-radius: 4px;
      color: #fff;
      position: relative;
      font-weight: 600;
      outline: none;
      border-radius: 30px;
      height: 30px;
      line-height: 1;
      margin-bottom: 20px;
    }
    .btn:hover{
      background: #149AC9;
      transition: all 1s;
    }  
}    
   
   
 
.has-error  input {
    border: 1px solid red;
  }
  



.has-error span {
    position: absolute;
    color: red;
    font-size: 8px;
    margin-top: 30px
  }