<div class="active">
  <h3>Password</h3>
  <p class="text-muted">Change your password or recover your current one.</p>
  <form [formGroup]="changePasswordForm" (ngSubmit)="submitHandler()" class="form-inline">
    <div *ngIf="changePass" class="form-group" [class.has-error]="currentPassword.invalid && currentPassword.touched">
      <label for="currentPassword" class="required"></label>
      <input
        formControlName="currentPassword" 
	      id="currentPassword" 
	      class="form-control"
        type="currentPassword" 
        name="currentPassword" 
        placeholder="Current password"/>
      <span *ngIf="currentPassword.invalid && currentPassword.touched">
        Password should contain at least one character and number
      </span> 
    </div>
    <div class="form-group" [class.has-error]="(password.invalid || (changePasswordForm.errors || {}).matching) && password.touched" >
      <label for="password" class="required"></label>
      <input
        formControlName="password" 
	      id="password" 
	      class="form-control"
        type="password" 
        name="password" 
        placeholder="New password"/>
      <span *ngIf="(changePasswordForm.errors || {}).matching && confirmPassword.touched">
        {{(changePasswordForm.errors || {}).matching}}.
      </span>        
      <span *ngIf="password.invalid && password.touched">
        Password should contain at least one character and number
      </span> 
    </div>
    <div class="form-group" [class.has-error]="(confirmPassword.invalid || (changePasswordForm.errors || {}).matching) && confirmPassword.touched">
      <label for="confirmPassword" class="required"></label>
      <input
        formControlName="confirmPassword" 
        id="confirmPassword" 
        class="form-control" 
        type="password" 
        name="confirmPassword" 
        placeholder="Verify password
"/>
      <span *ngIf="(changePasswordForm.errors || {}).matching && confirmPassword.touched">
        {{(changePasswordForm.errors || {}).matching}}.
      </span>
      <span *ngIf="confirmPassword.invalid && confirmPassword.touched">
        Password should contain at least one character and number
      </span>       
    </div>     
    <button
      [disabled]="changePasswordForm.invalid"
      type="submit"
      class="btn btn-success">
      SAVE CHANGES
    </button>              
  </form>
</div> 