<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a routerLink=''  routerLinkActive="active" class="brand-logo"><img src="../../../../assets/img/logo.svg" width="150px" alt=""></a>
        
        <img class="img-profile"  src="{{ userProfile?.avatarUrl }}"mat-button [matMenuTriggerFor] = "menu">
        
         <mat-menu  #menu="matMenu" [overlapTrigger]="false">
          <button mat-menu-item>{{userProfile.fullname}}</button>        
          <button mat-menu-item (click)="goToProfilePage()" routerLink='/network/profile'><i class="large material-icons">account_box</i>account_box</button>
          <button mat-menu-item routerLink='/network/news'><i class="large material-icons">notifications</i>notifications</button>
          <button mat-menu-item routerLink='/network/subscriptions'><i class="large material-icons">supervised_user_circle</i>supervised_user_circle</button>
          <button mat-menu-item routerLink='/network/search'><i class="material-icons">search</i>search</button>
          <button mat-menu-item (click)="logout()">Log out</button>
        </mat-menu>

      
      <!-- <ul class="right hide-on-med-and-down">
        <li><a routerLink='/network/profile' routerLinkActive="active" [class.activated]="currentUrl == '/network/profile'">account_box</a></li>
        <li><a routerLink='/network/news'  [class.activated]="currentUrl == '/network/news'">notifications</i></li>
        <li><a routerLink='/network/subscribe'  routerLinkActive="active" [class.activated]="currentUrl == '/network/subscribe'" >supervised_user_circle</a></li>
        <li > <a routerLink='/network/search'  routerLinkActive="active" [class.activated]="currentUrl == '/network/search'"> search</a> </li> 
      </ul> -->
    </div>
  </nav>

</div>

