nav{
    background-color: rgb(9, 148, 141);
    position: relative;
    width: 100%;
    .brand-logo {
        margin-left: 25px;
    }
    .hide-on-med-and-down{
        margin-right: 25px;
    }
    .nav-wrapper {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -o-flex-direction: row;
        flex-direction: row;
        align-items: center;

        .brand-logo {
            line-height: 64px;
            img{
                margin: auto;
                padding-top: 22px;
            }
        }
        .img-profile {
            margin-left: 90%;            
            height: 40px;
            width: 40px;
            border-radius: 50%;
           
           
        }
    mat-menu > button {

        .activated {
                background-color:#25a59f;
            
            }
    }
/*    ul{
        li{
            .activated {
                background-color:#25a59f;
            
            }
          
        }
    }
*/    }
}    
    i {
        margin-right: 10px; 
         color: #25a59f;    
            font-size: 25px;
        }